<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{articles.title}}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
</head>
<body style="background: silver">
<div class="jumbotron">
    <div class="container">
        <head>
            <meta charset="UTF-8">
            <h2 class="text-info">{{articles.title}}</h2>
            <h6 class="text-info">Опубликовано {{articles.date|date:"Y-m-d в H:i:s"}}</h6>
            <p>{{articles.post|safe|linebreaks}}</p>
            <img src="{% static 'img_dir/'|add:articles.image.name %}" class="img-thumbnail img-right">
            <a href="{% url 'news_list' %}">Назад к списку новостей</a>
    </div>
    <div class="container">
        <hr>
        &copy; Все права защищены 2024
    </div>
</body>
</html>

